# Database
DATABASE_URL="postgresql://loveboard:loveboard@localhost:5432/loveboard?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-me-in-production"

# App
NEXT_PUBLIC_APP_NAME="LoveBoard"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
